<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">

<link rel="icon" href="../public/favicon.ico">
  <title>Config生成</title>
  <link href="/public/bootstrap3.3.7.css" rel="stylesheet">

  <link href="/public/css/main.css" rel="stylesheet">
   <style>
  

         .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

</head>
  <body class="text-center">
 <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">ConfigV44</h3>
      <!-- <nav class="nav nav-masthead justify-content-center">
         <a class="nav-link" href="http://192.168.0.104:3000/">Home</a>
        <a class="nav-link active" href="http://192.168.0.104:3000/download">Download</a>
      </nav> -->
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">错误页面</h1>
    <p class="lead">请输入正确的渠道号</p>
        <p class="lead">例: ch_11111_dmgj</p>
    <p class="lead">
     
       <a href="http://192.168.2.46:3000/"  class="btn btn-lg btn-secondary xx">回到主页</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>©liuhao</p>
    </div>
  </footer>
</div>
</body>
<style type="text/css">

.xx,
xx:focus,
xx:hover {
  color: black;
  text-shadow: none;
   background-color: #fff;
  border: .05rem solid #fff;
}

</style>
</html>

 
