<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Dashboard Template for Bootstrap</title>
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
<div id="demo">

<form class="form-inline" novalidate name="fm">


    <div class="col-md-3 mb-3">
      <label for="validationCustom04">State</label>
       <select  class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
     <option  ></option>
      
  </select>  
    </div>

    <div class="col-md-3 mb-3">
      <label for="validationCustom04">State</label>
       <select v-model="cnhw" class="custom-select my-1 mr-sm-2" >
     <option>cn</option>
      <option>hw</option>
  </select>  
    </div>

    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input v-model="appname" type="text" class="form-control" id="validationCustom01" value="" required>
    </div>
     <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
    </div>

 
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
    </div>


    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
    </div>

  
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
    </div>


    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
    </div>

    <div class="col-md-3 mb-3">
     <button class="btn btn-primary" @click="tj" type="button">Submit form</button>

      </div>
    
   
 
</div>
</form>

</div>

</body>



<script>
 var xl={
      
      id: 1,
      username: "admin",
      age: 18,
      job: 2
    }
  



var da=[
"LaunchAdd",
"CandidateDomain1",
"CandidateDomain2",
"Identifier",
"ChannelCode",
"",
"GameName",
"BundleID",
"Platform",
"IAPCode",
"",
"ShortVersion",
"BuildVersion",
"VersionCode",
"",
"Lang",
"Region",
"Channel",
"",
"RechargeType",
"WorkStyle",
"LoginMod",
"ReviewType",
"",
"Mark",
"",
"PackedLoginChannels",
"PackedWorkChannels",
"PackedStatChannels",
"",
"InApp_ProductCode",
"InApp_ThirdOpen",
"",
"IcicID",
"IcicKey",
"XGSdkNew",
"XGThirdPay",
"XGCenterUrl",
"",
"WXAppId",
"WxH5IAP",
"WxH5IAPAppId",
"WxH5IAPReferer",
"",
"ALiAppId",
"",
"GPClientId",
"GPPublicKey",
"GPProductCode",
"",
"FBAppId",
"FBDisplayName",
"FBShareUrl",
"FBLikeUrl",
"",
"KochavaAppGUID_IOS",
"KochavaAppGUID_Android",
"",
"GDT_UASID",
"GDT_ASKey",
"",
"TapDBAppId",
"TapDBChannel",
"TapDBVersion",
"TapDBPermission",
"",
"TT_APP_ID",
"TT_APP_NAME",
"TT_CHANNEL",
"",
"AnyAppKey",
"AnyAppSecret",
"AnyPrivateKey",
"",
"TwitterSDKKey",
"TwitterSDKSecret",
"",
"XPAppID",
"XPAppSecret",
"XP_SERVER_KEY",
"",
"YWAppKey",
"YWAppSecret",
"YWChannelID",
"YWGameID",
"YWGameSecret",
"Ywan_gameId_IOS",
"Ywan_gameId_Android",
"IosCapWifi",
"YW_URLName",
"YW_URLSchemes",
"",
"SM_GAME_ID",
"",
"AFAppID",
"AFAppKey",
"AF2TT",
"",
"YHAppID",
"YHGameID",
"YHChannelID",
"YHPaySign",
"",
"AppsFlyerDevKey_Android",
"AppsFlyerAppID_Android",
"AppsFlyerDevKey_IOS",
"AppsFlyerAppID_IOS",
"",
"OneStorePublicKey",
"OneStoreProductCode",
"",
"MyCardSandboxMode",
"",
"CollectAppId",
"CollectChannel",
"",
"MRAdid",
"MRPlatform",
"MRGameId",
"MRProductCode",
"",
"XMWClientID",
"XMWClientSecret",
"XMWADTAppID",
"XMWTTAppID",
"XMWTTAppName",
"",
"BUDAppID_QA",
"BUDSlotID_QA",
"BUDAppID",
"BUDSlotID",
"",
"HWeiAppID",
"HWeiCpID",
"HWeiMerchantID",
"HWeiMerchantName ",
"",
"UCGameId",
"",
"OppoAppId",
"OppoSecret",
"OppoAppKey",
"OppoIsGCAD",
"",
"VivoAppId",
"VivoCpId",
"",
"XMAppId",
"XMAppKey",
"",
"YSDKAppID",
"YSDKWXAppID",
"YSDKXGAppID",
"YSDKXGAccessKey",
"YSDKOfferID",
"YSDKGameCoinRate",
"YSDKGameCoinZone",
"",
"SevenMoorAccessId",
"SevenMoorLang",
"",
"CurrencyType",
"",
"CustomerService",
"",
"MicroPlatform",
"",
"HighGearClose",
"",
"PLAY_MODE",
"",
"H5Release",
"",
"SavePic",
"",
"OpenCommunity",
"",
"AdaptSceen",
"",
"ChargeLimitOpen",
"",
"ShowLoginCG",
"",
"FirstGenHotVersion",
"FirstGenHotUrlQA",
"FirstGenHotUrlOfficial",
"SecondGenHotUrlQA",
"SecondGenHotUrlOfficial",
"Era",
"ServerIp",
"Port",
"FirstProject"
]
var dbb=
{

LaunchAdd:"http://center-sea.xuegaogame.com/center/config/getconfigi",
CandidateDomain1:"",
CandidateDomain2:"",
Identifier:"",
ChannelCode:"",
null1:"",
GameName:"",
BundleID:"",
Platform:"",
IAPCode:"",
null2:"",
ShortVersion:"",
BuildVersion:"",
VersionCode:"",
null3:"",
Lang:"",
Region:"",
Channel:"",
null4:"",
RechargeType:"",
WorkStyle:"",
LoginMod:"",
ReviewType:"",
null5:"",
Mark:"",
null6:"",
PackedLoginChannels:"",
PackedWorkChannels:"",
PackedStatChannels:"",
null7:"",
InApp_ProductCode:"",
InApp_ThirdOpen:"",
null8:"",
IcicID:"",
IcicKey:"",
XGSdkNew:"",
XGThirdPay:"",
XGCenterUrl:"",
null9:"",
WXAppId:"",
WxH5IAP:"",
WxH5IAPAppId:"",
WxH5IAPReferer:"",
null11:"",
ALiAppId:"",
null12:"",
GPClientId:"",
GPPublicKey:"",
GPProductCode:"",
null13:"",
FBAppId:"",
FBDisplayName:"",
FBShareUrl:"",
FBLikeUrl:"",
null14:"",
KochavaAppGUID_IOS:"",
KochavaAppGUID_Android:"",
null15:"",
GDT_UASID:"",
GDT_ASKey:"",
null16:"",
TapDBAppId:"",
TapDBChannel:"",
TapDBVersion:"",
TapDBPermission:"",
null17:"",
TT_APP_ID:"",
TT_APP_NAME:"",
TT_CHANNEL:"",
null18:"",
AnyAppKey:"",
AnyAppSecret:"",
AnyPrivateKey:"",
null19:"",
TwitterSDKKey:"",
TwitterSDKSecret:"",
null20:"",
XPAppID:"",
XPAppSecret:"",
XP_SERVER_KEY:"",
null21:"",
YWAppKey:"",
YWAppSecret:"",
YWChannelID:"",
YWGameID:"",
YWGameSecret:"",
Ywan_gameId_IOS:"",
Ywan_gameId_Android:"",
IosCapWifi:"",
YW_URLName:"",
YW_URLSchemes:"",
null22:"",
SM_GAME_ID:"",
null23:"",
AFAppID:"",
AFAppKey:"",
AF2TT:"",
null24:"",
YHAppID:"",
YHGameID:"",
YHChannelID:"",
YHPaySign:"",
null25:"",
AppsFlyerDevKey_Android:"",
AppsFlyerAppID_Android:"",
AppsFlyerDevKey_IOS:"",
AppsFlyerAppID_IOS:"",
null26:"",
OneStorePublicKey:"",
OneStoreProductCode:"",
null27:"",
MyCardSandboxMode:"",
null28:"",
CollectAppId:"",
CollectChannel:"",
null29:"",
MRAdid:"",
MRPlatform:"",
MRGameId:"",
MRProductCode:"",
null30:"",
XMWClientID:"",
XMWClientSecret:"",
XMWADTAppID:"",
XMWTTAppID:"",
XMWTTAppName:"",
null31:"",
BUDAppID_QA:"",
BUDSlotID_QA:"",
BUDAppID:"",
BUDSlotID:"",
null32:"",
HWeiAppID:"",
HWeiCpID:"",
HWeiMerchantID:"",
HWeiMerchantName :"",
null33:"",
UCGameId:"",
null34:"",
OppoAppId:"",
OppoSecret:"",
OppoAppKey:"",
OppoIsGCAD:"",
null35:"",
VivoAppId:"",
VivoCpId:"",
null36:"",
XMAppId:"",
XMAppKey:"",
null37:"",
YSDKAppID:"",
YSDKWXAppID:"",
YSDKXGAppID:"",
YSDKXGAccessKey:"",
YSDKOfferID:"",
YSDKGameCoinRate:"",
YSDKGameCoinZone:"",
null38:"",
SevenMoorAccessId:"",
SevenMoorLang:"",
null39:"",
CurrencyType:"",
null40:"",
CustomerService:"",
null41:"",
MicroPlatform:"",
null42:"",
HighGearClose:"",
null43:"",
PLAY_MODE:"",
null44:"",
H5Release:"",
null45:"",
SavePic:"",
null46:"",
OpenCommunity:"",
null47:"",
AdaptSceen:"",
null48:"",
ChargeLimitOpen:"",
null49:"",
ShowLoginCG:"",
null50:"",
FirstGenHotVersion:"",
FirstGenHotUrlQA:"",
FirstGenHotUrlOfficial:"",
SecondGenHotUrlQA:"",
SecondGenHotUrlOfficial:"",
Era:"",
ServerIp:"",
Port:"",
FirstProje:""
}
// var obj = {};
// 　　Object.defineProperty(obj,"newProp",{
// 　　　　get:function(){
// 　　　　　　return obj;
// 　　　　},
// 　　　　set:function(newVal){
// 　　　　　　document.getElementById("inp").value = newVal;
// console.log(newVal)
// 　　　　　　//document.getElementById("showText").innerHTML = newVal;
// 　　　　}
// 　　})
// 　　document.addEventListener("keyup",function(e){
// 　　　　obj.newProp = e.target.value;
// 　　})
// console.log($('#testSelect option:selected') .val())
// console.log(da[0]=fm.se.xl)
// console.log(da[0]=fm.name.name)
//  da[0]="aa";
//  db[0]="bb";
//     $.ajax({
//     type:"post",
//     url:"http://localhost:3000",
//     data:{da,db}, traditional: true,//必须指定为true
//     success:function(data){
//        // console.log(data) 
//     }
// });
var a="22"

var vm=new Vue({
  el: '#demo',
  data: {
          cnhw:"cn",
          appname:""
  
  },
  mounted(){
this.ces()
  },
  methods:{
  ces(){

  },
  tj(){
    //  da[0]=this.appname
    // console.log(this.appname)
         console.log(this.cnhw)
        this.cnhw==="hw"? dbb.CandidateDomain1="hw": dbb.CandidateDomain1="cn"
         //  this.cnhw==="hw"? xl.id="hw": xl.id="cn"
         // this.cnhw==="hw"? xl.job="hw": xl.job="cn"
         //  this.cnhw==="hw"? xl.age=null: xl.age=null
 
console.log(dbb)
     var db = []
for (let i in dbb) {
    db.push(dbb[i]); 
 
}
console.log(db);
          $.ajax({
    type:"get",
    url:"http://localhost:3000/a",
    success:function(data){
      console.log(data)
       console.log(JSON.parse(data)) 
       // console.log(JSON.stringify(data))
    }
})
          $.ajax({
    type:"post",
    url:"http://localhost:3000",
    data:{da,db}, traditional: true,//必须指定为true
    success:function(data){
       console.log(data) 
    }
})
  }

  }
})




 </script> 


</html>
