<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <meta name="description" content="">
  <meta name="author" content="">

<!--   <link rel="icon" href="../../favicon.ico"> -->
  <title>Examples</title>
  <!-- Bootstrap core CSS -->
<!--   <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
<!--   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> -->
<!--   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <link href="/public/bootstrap3.3.7.css" rel="stylesheet">
 <!--  <link href="/public/lib/element-ui.css" rel="stylesheet"> -->
  <link href="/public/css/main.css" rel="stylesheet">
  <script src="/public/lib/vue-2.4.0.js"></script>
<!-- <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script> -->
    <script src="/public/lib/jquery.js"></script> 
    <script src="/public/lib/vue-x.js"></script>
 <!--    <script src="/public/lib/element-ui.js"></script> -->
        <script src="/public/lib/axios.js"></script>
     <script src="/public/lib/isChannelCode.js"></script>
      <script src="/public/lib/ajaxGetData.js"></script>
         <script src="/public/lib/inputValue.js"></script>
           <script src="/public/lib/ajaxPost.js"></script>
             <script src="/public/lib/isLanguage.js"></script>
              <script src="/public/lib/selectValue.js"></script>
</head>

  <body class="text-center">



 <div  id="demo"  class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">ConfigV44</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="http://192.168.0.104:3000/">Home</a>
        <a class="nav-link" href="http://192.168.0.104:3000/download">Download</a>
       
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
     <div class="form-signin" >


  <div class="form-label-group">
    <input v-model="channelCode" type="number"  class="form-control"  placeholder="渠道号" required autofocus>
    <label for="inputEmail">渠道号</label>
  </div>

  <div  class="form-label-group">
    <input v-model="gameName" type="text"  class="form-control" placeholder="游戏名" >
    <label for="inputEmail">游戏名</label>
  </div>



    <div class="form-label-group">
    <input v-model="ipaCode" type="text"  class="form-control" placeholder="IAPCode" >
    <label for="inputEmail">IAPCode</label>
  </div>

    <div class="form-label-group">
    <input v-model="platForm" type="text"  class="form-control" placeholder="Platform" >
    <label for="inputEmail">Platform</label>
  </div>

    <div class="form-label-group">
    <input v-model="MD5" type="text"  class="form-control" placeholder="md5" >
    <label for="inputEmail">MD5</label>
  </div>

  <div class="form-label-group">
    <input v-model="gameVision" type="text"  class="form-control" placeholder="出包版本号" >
    <label for="inputPassword">出包版本号</label>
  </div>

   <div class="form-label-group">
    <input v-model="bundleID" type="text"  class="form-control" placeholder="bundle id" >
    <label for="inputEmail">bundle Id</label>
  </div>

    <div class="form-label-group">
    <input  v-model="appId" type="number"  class="form-control" placeholder="appID" >
    <label for="inputEmail">appID</label>
  </div>
<!-- <a href="http://192.168.0.104:3000/data/config.xls" download="config">12</a>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" id="x"> Remember 
      <input type="checkbox" id="y"> Remember 
       <input type="checkbox" id="z"> Remember 
    </label>
  </div>
 -->
   <button  @click="submit" class="btn btn-lg btn-secondary btn-block">Submit</button>

</div>

  </main>

 

    
   


</div>



</body>



<script>



const store = new Vuex.Store({
  state: {
    da:[],
    db:{},
    xggy:{},
    qmkf:{},
    
  
  },
  mutations: {
    getda(state,da){
      this.state.da=da
    },
    getdb(state,db){
      this.state.db=db
    },
    getxggy(state,xggy){
      this.state.xggy=xggy
    },
    getqmkf(state,qmkf){
      this.state.qmkf=qmkf
    }
  }
})





var vm=new Vue({

  el: '#demo',
  data: {
    
       channelCode:"",
       gameName:"",
       bundleID:"",
       ipaCode:"",
       platForm:"",
       MD5:"",
       gameVision:"",
       appId:""
      
  },

 created(){
this.ces()
  },

 methods:{

  ces(){
     $.ajax({
    type:"get",
    url:"http://192.168.0.104:3000/da",
    success:function(data){
     //console.log(JSON.parse(data)) 
    }
}).then(data=>{


   var da = []
for (let i in JSON.parse(data)) {
    da.push(JSON.parse(data)[i]); 
 
}
 this.$store.commit('getda',da)   
 //console.log(da)

})

          $.ajax({
    type:"get",
    url:"http://192.168.0.104:3000/db",
    success:function(data){

     // console.log(JSON.parse(data)) 
 
    }
}).then(data=>{
//  var data=JSON.parse(data)

  this.$store.commit('getdb',JSON.parse(data))     
})

          $.ajax({
    type:"get",
    url:"http://localhost:3000/xggy",
    success:function(data){
     // console.log(data)
      // console.log(JSON.parse(data)) 
       // console.log(JSON.stringify(data))
       //this.qmkf=JSON.parse(data)
    }
}).then(data=>{
 
    
  this.$store.commit('getxggy',data)     
})
        
          $.ajax({
    type:"get",
    url:"http://localhost:3000/qmkf",
    success:function(data){
     // console.log(data)
     // console.log(JSON.parse(data)) 
       // console.log(JSON.stringify(data))
  
    }
}).then(data=>{
 
     
  this.$store.commit('getqmkf',data)     
})


  },




  submit(){


     
    //var aa=this.channelcode.substring(0, 2)
//console.log(aa)
// console.log(this.$store.state.da)
// console.log(this.$store.state.db)
// console.log(this.$store.state.xggy)
// console.log(this.$store.state.qmkf)
var da=this.$store.state.da
var dbb=this.$store.state.db
var xggy=this.$store.state.xggy
var qmkf=this.$store.state.qmkf
// console.log(da)
// console.log(dbb)
// console.log(xggy)
// console.log(qmkf)

//系列判断
// console.log(channelHeader)
// console.log(typeof(channelHeader))
var ab=this.channelCode.substring(0, 3)
if(this.channelCode.length!=5)
{




window.location.href = ("http://192.168.0.104:3000/404");
 // window.open("http://192.168.0.104:3000/404")
  return;
}
else if((ab!="131")&&(ab!="141")&&(ab!="151")&&(ab!="161")&&(ab!="111")&&(ab!="132")&&(ab!="142")&&(ab!="201")&&(ab!="191")){






window.location.href = ("http://192.168.0.104:3000/404");
 // window.open("http://192.168.0.104:3000/404")
  return;

}
isChannelCode(dbb,this.channelCode,this.gameName)
isLanguage(dbb,this.channelCode,this.appId,this.gameVision,this.ipaCode)
 
inputValue(dbb,this.channelCode,this.gameName,this.bundleID,this.ipaCode,this.platForm,this.MD5,this.gameVision)

 ajaxPost(dbb,da,this.chanelCode,function(data){


})

window.location.href = ("http://192.168.0.104:3000/download");
// this.$router.push("http://localhost:3000/data/data.xls")
// window.open("http://192.168.0.104:3000/data/data.xls")
 // document.location.href = ("http://192.168.0.104:3000/data/data.xls");
// try {
//         var elemIF = document.createElement("iframe");
//         elemIF.src = "http://192.168.0.104:3000/data/data.xls";
//         elemIF.style.display = "none";
//         document.body.appendChild(elemIF);

//     }
// catch (e) {}  

// window.open("http://192.168.0.104:3000/download")







   }


  },



  store:store
})




 </script> 

  <style>
  .xx{
    color: white;
    background-color: black;
  }

         .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</html>
